
root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true

[*.{js,ts,jsx,tsx}]
quote_type = double
semi = true

[*.{json,css,scss,html}]
indent_size = 2
quote_type = double
